/* Styles for the Secure JS plugin */

.secured-code-error {
    background-color: rgba(255, 0, 0, 0.1);
    border-left: 3px solid red;
    padding: 1em;
    margin: 1em 0;
    border-radius: 4px;
  }
  
  .secured-code-error h3 {
    color: red;
    margin-top: 0;
  }
  
  .secured-code-error button {
    background-color: #5a67d8;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .secured-code-error button:hover {
    background-color: #434190;
}
